.item {
  display: flex;
  border: 1px solid black;
  border-radius: 8px;
  padding: 20px;
  max-width: calc((100% - 3 * 20px) / 4);
  width: 200px;
}
.contactInfo {
}
.text {
  text-transform: capitalize;
}
.btn {
}
